In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib as mp

In [5]:
data = pd.read_json("data.json")
latest = pd.read_json("latest-rates.json")
df = pd.DataFrame(data)
print(df)

                                                        rates   start_at base  \
2019-01-02  {'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '... 2019-01-01  EUR
2019-01-03  {'CAD': 1.5392000000000001, 'HKD': 8.8884, 'IS... 2019-01-01  EUR
2019-01-04  {'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '... 2019-01-01  EUR
2019-01-07  {'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '... 2019-01-01  EUR
2019-01-08  {'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '... 2019-01-01  EUR
...                                                       ...        ...  ...
2019-12-23  {'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '... 2019-01-01  EUR
2019-12-24  {'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P... 2019-01-01  EUR
2019-12-27  {'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '... 2019-01-01  EUR
2019-12-30  {'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '... 2019-01-01  EUR
2019-12-31  {'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '... 2019-01-01  EUR

               end_at
2019-01-02 2019-12-31
2019-01-03 2019-12-31
2019-01-04 2019-12-31
2019-01-07 2019-12-31
2019-01-08 2019-12-31
...               ...
2019-12-23 2019-12-31
2019-12-24 2019-12-31
2019-12-27 2019-12-31
2019-12-30 2019-12-31
2019-12-31 2019-12-31

[255 rows x 4 columns]

In [26]:
print(data['rates'])

2019-01-02    {'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '...
2019-01-03    {'CAD': 1.5392000000000001, 'HKD': 8.8884, 'IS...
2019-01-04    {'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '...
2019-01-07    {'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '...
2019-01-08    {'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '...
                                    ...
2019-12-23    {'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...
2019-12-24    {'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...
2019-12-27    {'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...
2019-12-30    {'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...
2019-12-31    {'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...
Name: rates, Length: 255, dtype: object

In [30]:
########### Task 1 INR vs EUR from 1 Jan 2019 to 31 Jan 2019 ########################

val = ''

INR = []
EUR = []
date = []

dx = 1

for dx in range(32):
    if(dx < 10):
        val = '0' + str(dx)
        print(val)
    else:
        val = str(dx)
        print(val)
        
    try:
        inr = df['rates']['2019-01-'+val]['INR']
        INR.append(inr)
        date.append('2019-01-'+val)
        eur = df['rates']['2019-01-'+val]['EU']
        EUR.append(eur)
        date.append('2019-01-'+val)
    except:
        print("Exception Executed")

print("\n\n")
print("1 Euro to INR:\n")
for i in INR:
    print(i)
    
print("\n\n")
print("Dates:\n")
for i in date:
    print(i)

00
Exception Executed
01
Exception Executed
02
Exception Executed
03
Exception Executed
04
Exception Executed
05
Exception Executed
06
Exception Executed
07
Exception Executed
08
Exception Executed
09
Exception Executed
10
Exception Executed
11
Exception Executed
12
Exception Executed
13
Exception Executed
14
Exception Executed
15
Exception Executed
16
Exception Executed
17
Exception Executed
18
Exception Executed
19
Exception Executed
20
Exception Executed
21
Exception Executed
22
Exception Executed
23
Exception Executed
24
Exception Executed
25
Exception Executed
26
Exception Executed
27
Exception Executed
28
Exception Executed
29
Exception Executed
30
Exception Executed
31
Exception Executed



INR data:

79.9855
79.608
79.4315
79.6895
80.245
80.6365
81.2005
81.3475
81.2195
81.231
81.0055
80.9765
81.0875
80.9335
81.046
81.0535
80.656
80.634
81.232
81.306
81.351
81.686



EUR data:




Dates:

2019-01-02
2019-01-03
2019-01-04
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-28
2019-01-29
2019-01-30
2019-01-31